.noscroll_bar{
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.fullview{
    height: 100vh;
    scroll-snap-align: start;
}

.question{
    position: relative;
    margin-top: 30vh;
    font-size: 24px;
}
.options{
    margin-top: 5vh;
}
.options input[type="text"], input[type="search"]{
    outline: none;
    border: none;
    border-bottom: 2px solid #06a7aa;
    padding: 4px;
    font-size: 22px;
    transition: 300ms;
    width: 100%;
}
.options input[type="text"]:hover, input[type="search"]:hover{
    border: none;
    border-bottom: 2px solid #06a7dd;
    transition: 300ms;
}
.options input[type="text"]:focus, input[type="search"]:focus{
    border: none;
    border-bottom: 2px solid #ff9900;
    transition: 300ms;
}

.pro_but{
    width: 200px;
    display: block;
    background: #06a7aa;
    color: #fff;
    transition: 300ms;
    text-decoration: none;
}
.pro_but:hover{
    background: #06a7dd;
    transition: 300ms;
}
.pro_but:active{
    background: #ff9900;
    transition: 300ms;
}
.pro_but:hover::before{
    display: none;
}
.pro_but.center{
    margin: auto;
    margin-top: 5px;
}

.option{
    width: 200px;
    background: #06a7dd;
    padding: 10px;
}

.panel{
    width: 100%;
    background: #FCFCFC;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
}

.home_but{
    width: 300px;
    display: block;
    background: #0065AF;
    color: #fff;
    transition: 300ms;
    text-decoration: none;
    border-radius: 90px;
}
.home_but:hover{
    background: #06a7dd;
    transition: 300ms;
}
.home_but:active{
    background: #ff9900;
    transition: 300ms;
}
.home_but:hover::before{
    display: none;
}
.home_but.center{
    margin: auto;
    margin-top: 5px;
}

body::-webkit-scrollbar{
    display: none;
}

body::-webkit-scrollbar-thumb {
    display: none;
}